[submodule ".config/neofetch/neofetch-theme"]
	path = .config/neofetch/neofetch-themes
	url = https://github.com/Chick2D/neofetch-themes.git
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
